<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <h3>B-oranics</h3>
    </a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Items -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Main Nav Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Arrivals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Most Popular</a>
        </li>
      </ul>

      <!-- Right-aligned items -->
      <div class="d-flex align-items-center navbar-action-group">
        <% if user_signed_in? %>
          <%= render 'shared/signed-in-user-nav' %>
          <%else %>
          <%= link_to "Start Free Trail", new_user_registration_path, class: 'btn btn-primary-main me-3', type:'button' %>

          <%= link_to "Sign In", new_user_session_path ,class: 'sign-in-link' %>
      <% end %>
      </div>
    </div>
  </div>
</nav>